@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold|Inconsolata);

body {font-family: Helvetica, Arial, sans-serif; font-size: 14px;}
h1,h2,h3,h4,h5 { font-family: 'Droid Sans', Helvetica, Arial, sans-serif; }


/* syntax highlighting */
.source_code { display: none; padding: 3px 8px; border-left: 8px solid #ddd; margin-top: 5px; }
#filecontents pre.code, .docstring pre.code, .source_code pre, .tags ul .name { font-family: Monaco, Consolas, Inconsolata, monospace !important; }
#filecontents pre.code, .docstring pre.code { display: block; }
.source_code .lines { padding-right: 12px; color: #555; text-align: right; }
#filecontents pre.code, .docstring pre.code, .constants pre.code,
.tags .example { padding: 5px 12px; margin-top: 4px; border: none;}
table.source_code {background: #111;}
pre.code { color: #f0f0f0; font-family: Monaco, Consolas, Inconsolata, monospace !important; font-size: 13px !important; background: #111 !important;}
pre.code .info.file { color: #555; }
pre.code .val { color: #A5C261; }
pre.code .tstring_content,
pre.code .heredoc_beg, pre.code .heredoc_end,
pre.code .qwords_beg, pre.code .qwords_end,
pre.code .tstring, pre.code .dstring { color: #036A07; }
pre.code .fid, pre.code .id.new, pre.code .id.to_s, 
pre.code .id.to_sym, pre.code .id.to_f, 
pre.code .dot + pre.code .id,
pre.code .id.to_i pre.code .id.each { color: #C28439; }
pre.code .comment { color: #5B5B5B; font-style: italic;}
pre.code .const, pre.code .constant { color: #5B819E; }
pre.code .symbol { color: #A1C2DA; }
pre.code .kw, 
pre.code .label,
pre.code .id.require, 
pre.code .id.extend,
pre.code .id.include { color: #FF7D00; }
pre.code .ivar { color: #318495; }
pre.code .gvar, 
pre.code .id.backref, 
pre.code .id.nth_ref { color: #6D79DE; }
pre.code .regexp, .dregexp { color: #036A07; }
pre.code a { border-bottom: 1px dotted #555; }
code, tt {font-family: Monaco, Consolas, Inconsolata, monospace !important;}

#search_frame {
  -webkit-box-shadow: -7px 5px 25px rgba(0,0,0,.3);
  -moz-box-shadow: -7px 5px 25px rgba(0,0,0,.3);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

#search a:link, #search a:visited { 
  color: #222; background: transparent;
  border: none;
}
#search a:hover { background: transparent; color: #111; }
#search a.active { 
  color: #f0f0f0; border: 1px solid #111; background: #111;; 
}
#search a.inactive { color: #999; }